<link href="style.css" rel="stylesheet" type="text/css" /><style>li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
header {
  background: url("kuwaitcity.jpg") no-repeat center;
  background-size: cover;
  color: #DEA666;
  padding: 20px;
}
h1 {
  font-size: 40px;
  margin: 20px 0;
  background-color: #5C4C3A;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 12px;
  margin: 10px auto;
}
h2 {
  color: #5C4C3A;
}
img {
  display: block;
  margin: 20px auto;
  width: 500px;
  height: 400;
}
ul {
  padding: 15px;
  background: lightblue;
  list-style: none;
  color: #DEA666;
}
ul a {
  color: #232F34;
}
body {
  text-align: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: azure;
}
p {
  color: zaffre;
}
input[type="submit"] {
  background-color: #5B4B39;
  color: #DEA666;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
input[type="email"] {
  width: 300px;
  /* Adjust width as needed */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
</style>
